<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/Bootstrap.php" colors="true">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="defaul">
            <directory>./test/src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./test</directory>
                <file>./config/module.config.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
